@model EagleUniversity.Models.Activity


<table class="table">
    <tr>
        <th> Doc Name</th>
        <th> Doc Type</th>
        <th> UploadDate </th>
        <th> DueDate </th>
        <th>@Html.ActionLink("CreateDoc ", "Create", "Documents", new { ModuleId = Model.Id }, null)</th>
    </tr>
    @foreach (var doc in Model.DocumentActivityAssignments)
    {
        <tr>
            <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentName)</td>
            <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentTypes.DocumentTypeName)</td>
            <td>@Html.DisplayFor(x => doc.AssignedDocument.UploadDate)</td>
            <td>@Html.DisplayFor(x => doc.AssignedDocument.DueDate)</td>
            <td>@Html.ActionLink("Remove ", "Delete", "ActivityDocuments", new { DocumentId = doc.DocumentId }, null)</td>
        </tr>
    }
</table>
