@model EagleUniversity.Models.Activity


<table class="table">    
    @foreach (var doc in Model.DocumentActivityAssignments)
    {
    <tr>        
         <td> 
            <a href="~/File?id=@doc.DocumentId" alt="doc" download="@doc.AssignedDocument.DocumentName">@Html.DisplayFor(x => doc.AssignedDocument.DocumentName)</a>
         </td>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentTypes.DocumentTypeName)</td>
        <th> DueDate </th>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DueDate)</td>
        <td>
            <div class="dropdown">
                <a href=# class="dropdown-toggle btn btn-warning" data-toggle="dropdown">More ... </a>
                <ul class="dropdown-menu">
                    <li>@Ajax.ActionLink("Edit", "Edit", "Documents", new { Id = doc.DocumentId }, new AjaxOptions { UpdateTargetId = "create-entity", OnBegin = "OnBegin" }, null) </li>
                    <li>@Ajax.ActionLink("Remove", "DeleteAjaxDoc", "Documents", new { id = doc.DocumentId }, new AjaxOptions { HttpMethod = "Post", Confirm = $"Delete module {doc.AssignedDocument.DocumentName}?", OnComplete = "OnComplete" }, null)</li>
                    @if (doc.AssignedDocument.FileType != null)
                         {
                            <li>
                            <a href="~/File?id=@doc.DocumentId" alt="doc" download="@doc.AssignedDocument.DocumentName">Download </a>
                            </li>
                         }
                    
                 </ul>
                    </div>
                    </td>
                </tr>
                         }
</table>
