@model EagleUniversity.Models.Course

<table class="table">
    <tr>
        <th> Doc Name</th>
        <th> Doc Type</th>
        <th> UploadDate </th>
        <th> DueDate </th>
        <th>@Ajax.ActionLink("CreateDoc", "Create", "Documents", new { CourseId = Model.Id }, new AjaxOptions { UpdateTargetId = "create-entity" }, null) </th>
    </tr>
    @foreach (var doc in Model.DocumentCourseAssignments)
    {
    <tr>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentName)</td>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentTypes.DocumentTypeName)</td>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentContent)</td>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.UploadDate)</td>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DueDate)</td>
        <td>@Ajax.ActionLink("Edit", "Edit", "Documents", new { Id = doc.DocumentId }, new AjaxOptions { UpdateTargetId = "create-entity" }, null) </td>
        <td>@Ajax.ActionLink("Remove", "DeleteAjaxDoc", "Documents", new { id = doc.DocumentId }, new AjaxOptions { HttpMethod = "Post", Confirm = $"Delete document {doc.AssignedDocument.DocumentName}?", OnComplete = "OnComplete" }, null)</td>
    </tr>
    }
</table>
