@model EagleUniversity.Models.Module

<table class="table">
    <tr>
        <th> File Name</th>
        <th> Document Type</th>
        <th></th>
        <th> UploadDate </th>
        <th> DueDate </th>
        <th>@Ajax.ActionLink("CreateDoc", "Create", "Documents", new { returnTarget = "Document", returnId = Model.CourseId, Id = Model.Id, EntityType = "Module", EntityName = Model.ModuleName }, new AjaxOptions { UpdateTargetId = "create-entity", OnBegin = "OnBegin" }, null) </th>
    </tr>
    @foreach (var doc in Model.DocumentModuleAssignments)
    {
    <tr>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentName)</td>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DocumentTypes.DocumentTypeName)</td>
        @if (doc.AssignedDocument.FileType != null)
        {
        <td>
            <a href="~/File?id=@doc.DocumentId" alt="doc" download="@doc.AssignedDocument.DocumentName">Download </a>
        </td>
        }
        else
        {
        <td></td>
        }
        <td>@Html.DisplayFor(x => doc.AssignedDocument.UploadDate)</td>
        <td>@Html.DisplayFor(x => doc.AssignedDocument.DueDate)</td>
        <td>@Ajax.ActionLink("Edit", "Edit", "Documents", new { Id = doc.DocumentId }, new AjaxOptions { UpdateTargetId = "create-entity", OnBegin = "OnBegin" }, null) </td>
        <td>@Ajax.ActionLink("Remove", "DeleteAjaxDoc", "Documents", new { id = doc.DocumentId }, new AjaxOptions { HttpMethod = "Post", Confirm = $"Delete document {doc.AssignedDocument.DocumentName}?", OnComplete = "OnComplete" }, null)</td>
    </tr>
    }
</table>