@model EagleUniversity.Models.ViewModels.ActivityViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ModuleId)
    @Html.HiddenFor(model => model.ActivityTypeId)
    @Html.HiddenFor(model => model.redirectProperty.returnId)
    @Html.HiddenFor(model => model.redirectProperty.returnMethod)
    @Html.HiddenFor(model => model.redirectProperty.returnTarget)
    @Html.HiddenFor(model => model.redirectProperty.returnController)
    @Html.HiddenFor(model => model.redirectProperty.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.ActivityName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ActivityName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ActivityName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            <div>
                <table>
                    <tr>
                        <th> AM </th>
                        <th> PM </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.RadioButtonFor(model => model.StartDateAm, true)
                        </td>
                        <td>
                            @Html.RadioButtonFor(model => model.StartDateAm, false)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            <div>
                <table>
                    <tr>
                        <th> AM </th>
                        <th> PM </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.RadioButtonFor(model => model.EndDateAm, true)
                        </td>
                        <td>
                            @Html.RadioButtonFor(model => model.EndDateAm, false)
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Details", "Courses", new { id = Model.redirectProperty.returnId, redirect = Model.redirectProperty.returnTarget }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
