<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eagle University</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            background-color: #1E70B9;
            color: ghostwhite;
            font-size: 1.2em;            
            border: 0;
        }
        .dropdown-menu {
            background-color: #1E70B9;
            color: ghostwhite;
        }       
        .navbar-brand{
            float:left;
            min-height:40px;
            padding:0 15px 5px;
            width:auto;
        }
        
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">                    
                    <img alt="Brand" src="~/Photos/Eagle1.PNG" />
                    @*@Html.ActionLink("Eagle University", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })*@
                </a>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href=# class="dropdown-toggle" data-toggle="dropdown">Users</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Teachers", "Index", "Account",new {userRoleId="Teacher"}, null))</li>
                            <li>@Html.ActionLink("Students", "Index", "Account",new {userRoleId = "Student" }, null)</li>

                        </ul>
                    <li class="dropdown">
                        <a href=# class="dropdown-toggle" data-toggle="dropdown">Courses</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                            <li>@Html.ActionLink("Modules", "Index", "Modules")</li>
                            <li>@Html.ActionLink("Activity", "Index", "Activities")</li>
                        </ul>
                    <li class="dropdown">
                        <a href=# class="dropdown-toggle" data-toggle="dropdown">Assigments</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Assign Users to the Courses", "Index", "Assignments")</li>
                            <li>@Html.ActionLink("Assign Documents to the Course", "Index", "CourseDocuments")</li>
                            <li>@Html.ActionLink("Assign Documents To Module", "Index", "ModuleDocuments")</li>
                            <li>@Html.ActionLink("Assign Documents To Activity", "Index", "ActivityDocuments")</li>                           
                        </ul>
                    <li>@Html.ActionLink("Documents", "Index", "Documents")</li>                   


                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Eagle University</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
