@model IEnumerable<EagleUniversity.Models.ViewModels.UserViewModel>

@*<h4>@Ajax.ActionLink("Create new student", "Create", "Account", new { CourseId = Model.Id, userRoleId = "Student" }, new AjaxOptions { UpdateTargetId = "create-entity" }, null) </h4>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationTime)
            </td>
            <td>
                <div class="dropdown">
                    <a href=# class="dropdown-toggle btn btn-primary" data-toggle="dropdown">More ... </a>
                    <ul class="dropdown-menu">
                        @if (User.IsInRole("Teacher"))
                            {
                    <li>@Ajax.ActionLink("Edit", "EditUser", "Account", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "create-entity" }, null) </li>
                    <li>@Ajax.ActionLink("Delete", "XXXDeleteUser", "Account", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "create-entity" }, null) </li>               
                    <li>@Ajax.ActionLink("Remove", "DeleteAjax", "Assignments", new { UserId = item.Id, returnId = item.course.Id, returnController = "Courses"
                       , returnMethod = "Details", returnTarget = "Student" }
                   , new AjaxOptions { HttpMethod = "Post", Confirm = $"Remove student: {item.Fullname} from course: {item.course.CourseName}?"
                       //, OnComplete = "OnComplete"
                   }, null) </li>
                            }
                        <li>@Ajax.ActionLink("Detail", "DetailUser", "Account", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "create-entity" }, null) </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
