@model IEnumerable<EagleUniversity.Models.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.RolesList </h2>

<p>
    @if (User.IsInRole("Teacher"))
    {               
        @Html.ActionLink("Create New ","CreateUser","Account",new { userRoleId = ViewBag.RolesList }, null)
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @if (User.IsInRole("Teacher"))
        {
            @Html.ActionLink("Edit ", "EditUser", new {  id=item.Id })
            @Html.ActionLink("Delete ", "DeleteUser", new {  id=item.Id  })
        }
            @Html.ActionLink("Details ", "DetailUser", new { id=item.Id })

        </td>
    </tr>
}

</table>
