@model IEnumerable<EagleUniversity.Models.ViewModels.UserViewModel>

@{
                /**/

                ViewBag.Title = "Index";
}

<h2>@ViewBag.RolesList </h2>

<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Create New ", "CreateUser", "Account", new { userRoleId = ViewBag.RolesList }, new { @class = "btn btn-primary" })
    }
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.CourseName)
            </td>
            <td>
                <div class="dropdown">
                    <a href=# class="dropdown-toggle btn btn-primary" data-toggle="dropdown">More ... </a>
                    <ul class="dropdown-menu">
                        @if (User.IsInRole("Teacher"))
                        {
                            <li>@Html.ActionLink("Edit ", "EditUser", new { id = item.Id })</li>
                        <li>@Html.ActionLink("Delete ", "DeleteUser", new { id = item.Id })</li>
                        if (item.course.CourseName == "Not Assigned")
                        {
                        <li>@Html.ActionLink("AssignToCourse ", "Create", "Assignments", new { studentId = item.Id, courseId = item.course.Id }, null)</li>
                        }
                        else
                        {
                        <li>@Html.ActionLink("RemoveFromCourse ", "Delete", "Assignments", new { studentId = item.Id, courseId = item.course.Id }, null)</li>
                        }}
                        <li>@Html.ActionLink("Details ", "DetailUser", new { id = item.Id })</li>
                    </ul>
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-sortable.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}

