@model EagleUniversity.Models.DocumentEntity
<h2 style="color:Tomato;">Are you sure?</h2>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EntityName)
        @Html.HiddenFor(model => model.EntityType)
        @Html.HiddenFor(model => model.returnId)
        @Html.HiddenFor(model => model.returnTarget)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Details", "Courses", new { id = Model.returnId, redirect = Model.returnTarget }, null)
        </div>
    }
</div>
