@model EagleUniversity.Models.ViewModels.DocumentViewModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.assignedEntity.EntityFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignedEntity.EntityFull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>

        <dd>
            <a href="~/File?id=@Model.Id" alt="doc" download="@Model.DocumentName">@Model.DocumentName </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cancel", "Details", "Courses", new { id = Model.assignedEntity.returnId, redirect = Model.assignedEntity.returnTarget }, new { @class = "btn btn-danger" })
</p>

