@model IEnumerable<EagleUniversity.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentTypes.DocumentTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedEntity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentTypes.DocumentTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedEntity)
        </td>

        <td>
            <img src="~/File?id=@item.Id" alt="test" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            @if (item.AssignedEntity == "Not Assigned")
        {
            @Html.ActionLink("AssignToCourse ", "Create", "CourseDocuments", new { DocumentId = item.Id }, null)
            @Html.ActionLink("AssignToModule ", "Create", "ModuleDocuments", new { DocumentId = item.Id }, null)
            @Html.ActionLink("AssignToAct ", "Create", "ActivityDocuments", new { DocumentId = item.Id }, null)
    }
            @if (item.AssignedEntity.Contains("Course"))
        {
            @Html.ActionLink("Remove ", "Delete", "CourseDocuments", new { DocumentId = item.Id }, null)
    }
            @if (item.AssignedEntity.Contains("Module"))
        {
            @Html.ActionLink("Remove ", "Delete", "ModuleDocuments", new { DocumentId = item.Id }, null)
    }
            @if (item.AssignedEntity.Contains("Activity"))
        {
            @Html.ActionLink("Remove ", "Delete", "ActivityDocuments", new { DocumentId = item.Id }, null)
    }

        </td>
    </tr>
}

</table>
